{% extends 'template.html' %}

{% load static %}

{% block main %}

<!--
    to do: add nice event panels (i would make it look like a calendar if i had time)

    title (big)
    description
    start date (just date if its the same as end date)
    end date
    forced attendance/forced holiday
    event type

    maybe make forced holidays a darker red or something
-->

<div class="row container-fluid mx-auto" style="max-width: 70rem;">
    <div class="separator"></div>
    <div id="holidays" class="col container-fluid mx-auto">
        <h5 class="col text-center">Feriados</h5>
    </div>

    <div class="col container-fluid mx-auto">
        <h5 class="col text-center">Eventos</h5>
        <div class="col container-fluid mx-auto">
            <label for="filter">Filtrar:</label>
            <select name="filter" id="event-filter" onchange="render(this.value)"></select>
        </div>
        <div id="events" class="col container-fluid mx-auto">
            
        </div>
    </div>
</div>

<script>
    if (typeof jQuery == "undefined") {
        alert("jquery is not loaded")
    }

    var events

    genFilter()

    // internal api
    $.ajax({
        type: "get",
        url: "/api/event/",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}' // just in case
        },
        success: function (data) {
            events = JSON.parse(data)
            
            renderEvents(events, false)
        },
        error: function(response){
            switch(response.status){
                default:
                    alert("Ha ocurrido un error")
                break;
            }
        }
    })

    // public api
    $.ajax({
        type: "list",
        url: "https://apis.digital.gob.cl/fl/feriados/2024",
        // jsonp is required or it throws a CORS fit
        dataType: "jsonp",
        jsonp: "callback",
        jsonpCallback: "processJSONPResponse",
        crossDomain: true,
        data: {},
        success: function (data) {
            renderHolidays(data)
        },
        error: function(response){
            switch(response.status){
                default:
                    alert("Ha ocurrido un error")
                break;
            }
        }
    })

    function render(filter){
        renderEvents(events, false, filter)
    }
</script>

{% endblock %}