{% extends 'template.html' %}

{% load static %}

{% block main %}

<div class="separator"></div>

<div class="row container-fluid mx-auto" style="max-width: 70rem;">
    <div class="separator"></div>
    <div class="col container-fluid mx-auto">
        <h5 class="col text-center">Eventos</h5>
        <div class="col container-fluid mx-auto">
            <label for="filter">Filtrar:</label>
            <select name="filter" id="event-filter" onchange="render(this.value)"></select> <!-- wrapper function -->
        </div>
        <div id="events" class="col container-fluid mx-auto">

        </div>
    </div>

    <div class="col container-fluid mx-auto">
        <h5 id="title" class="col text-center">Crear evento</h5>
            <div class="row container-fluid mx-auto" style="max-width: 50rem;">
                <iframe name="dframe" id="dframe" style="display: none"></iframe>
                <form id="form" action="/api/event/" method="post" target="dframe">
                    {% csrf_token %}
            
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Nombre del evento</label>
                        {{ form.name }}
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Descripción del evento</label>
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Fecha de inicio (YYYY-MM-DD)</label>
                        {{ form.date_start }}
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Fecha de término (YYYY-MM-DD)</label>
                        {{ form.date_end }}
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Tipo de evento</label>
                        {{ form.event_type }}
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Asistencia obligatoria</label>
                        {{ form.forced }}
                    </div>
                    
                    <input disabled id="form-submit" type="submit" class="btn btn-primary" value="Aceptar" />
                    <a href="{% url 'manage' %}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
                </form>
            </div>
    </div>
</div>

<script>
    if (typeof jQuery == "undefined") {
        alert("jquery is not loaded")
    }

    genFilter()

    var form = $("#form")
    var events
    var holidays

    $.ajax({
        type: "get",
        url: "/api/event/",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}' // just in case
        },
        success: function (data) {
            events = JSON.parse(data)
            
            renderEvents(events, true)
        },
        error: function(response){
            switch(response.status){
                default:
                    alert("Ha ocurrido un error")
                break;
            }
        }
    })

    $.ajax({
        type: "list",
        url: "https://apis.digital.gob.cl/fl/feriados/2024",
        // jsonp is required or it throws a CORS fit
        dataType: "jsonp",
        jsonp: "callback",
        jsonpCallback: "processJSONPResponse",
        crossDomain: true,
        data: {},
        success: function (data) {
            holidays = data
            console.log("loaded holiday data: ", holidays)
        },
        error: function(response){
            console.log("could not fetch holiday data")
        }
    })

    form.submit(function(){
        $.ajax({
            type: form.attr("method"),
            url: form.attr("action"),
            data: form.serialize(),
            success: function (data) {
                if(holidays){
                    console.log(events)

                    let status      = form.attr("method")
                    let date_start  = $("#id_date_start").val()
                    let date_end    = $("#id_date_end").val()

                    for(let i = 0; i<holidays.length; i++){
                        let date_holiday = holidays[i].fecha

                        if(dateOrdered(date_start, date_holiday) && dateOrdered(date_holiday, date_end) && holidays[i].irrenunciable){
                            status = holidays[i].nombre
                            break
                        }
                    }

                    alertEvent(status)
                } else {
                    alertEvent(form.attr("method"))
                }

                window.location.replace("{% url 'manage' %}")
            },
            error: function(data){
                alert("Ha ocurrido un error")
            }
        });
        return false
    })

    function alertEvent(method){
        switch(method){
            case "post":
                alert("Se ha creado el evento");
            break;
            case "put":
                alert("Se ha modificado el evento");
            break;
            default:
                alert("El evento se ha procesado, pero choca con el feriado " + method + " (irrenunciable)")
            break;
        }
    }

    function render(filter){
        console.log(filter)
        renderEvents(events, true, filter)
    }
</script>

{% endblock %}