{% extends 'template.html' %}

{% block main %}

<iframe name="dframe" id="dframe" style="display: none"></iframe>
<form id="form" action="/api/integer/" method="post" target="dframe">
    {% csrf_token %} {{ form }}
    <input type="submit" value="Submit" />
</form>

<script>
    if (typeof jQuery == "undefined") {
        alert("jquery is not loaded")
    }

    var form = $("#form")
    form.submit(function(){
        $.ajax({
            type: form.attr("method"),
            url: form.attr("action"),
            data: form.serialize(),
            success: function (data) {
                jsondata = JSON.parse(data)
                alert(jsondata.status + ": " + jsondata.message);
            },
            error: function(data){
                jsondata = JSON.parse(data)
                alert(jsondata.status)
            }
        });
        return false
    })            
</script>
{% endblock %}